<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="jp.ex_t.kazuaki.change_vision.diff-experiment.actionSet">
         <menu
               id="diff-experiment"
               label="%menu_group"
               path="tool/diff-experiment">
         </menu>
         <action
			   label="%menu_label"
               icon="icons/sample.gif"
               class="jp.ex_t.kazuaki.change_vision.TemplateAction"
               tooltip="%menu_tooltip"
               menubarPath="tool/diff-experiment/"
               id="diff-experiment">
         </action>
     </actionSet>
   </extension>
</plugin>
